name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  test-native:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install Nix
      uses: DeterminateSystems/nix-installer-action@v14
    - name: Magic Nix Cache
      uses: DeterminateSystems/magic-nix-cache-action@v8
    - name: Rust Cache
      uses: Swatinem/rust-cache@v2

    - run: nix-shell --run "make test-native"
    - run: nix-shell --run "make bench-native"

  test-wasm:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install Nix
      uses: DeterminateSystems/nix-installer-action@v14
    - name: Magic Nix Cache
      uses: DeterminateSystems/magic-nix-cache-action@v8
    - name: Rust Cache
      uses: Swatinem/rust-cache@v2

    - run: nix-shell --run "make test-wasm"
    - run: nix-shell --run "make bench-wasm"
  
  clippy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install Nix
      uses: DeterminateSystems/nix-installer-action@v14
    - name: Magic Nix Cache
      uses: DeterminateSystems/magic-nix-cache-action@v8
    - name: Rust Cache
      uses: Swatinem/rust-cache@v2

    - run: nix-shell --run "make clippy-native"
    - run: nix-shell --run "make clippy-wasm"

  check-artifacts:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install Nix
      uses: DeterminateSystems/nix-installer-action@v14
    - name: Magic Nix Cache
      uses: DeterminateSystems/magic-nix-cache-action@v8
    - name: Rust Cache
      uses: Swatinem/rust-cache@v2

    - name: Rebuild Wasm Artifacts
      run: nix-shell --run "make build-all"

    - name: Ensure Artifacts Match Source
      run: git diff --exit-code