name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  test-native:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - uses: dtolnay/rust-toolchain@stable
      with:
        targets: wasm32-wasip1

    - uses: Swatinem/rust-cache@v2

    - name: Build plugin
      run: cargo build --target wasm32-wasip1 -p test-plugin --release

    - run: cargo build
    - run: cargo test
    - run: cargo bench

  test-wasm:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - uses: dtolnay/rust-toolchain@stable
      with:
        targets: wasm32-wasip1, wasm32-unknown-unknown

    - uses: Swatinem/rust-cache@v2

    - name: Build plugin
      run: cargo build --target wasm32-wasip1 -p test-plugin --release

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'

    - uses: jetli/wasm-bindgen-action@v0.2.0

    - run: cargo build
    - run: cargo test
    - run: cargo bench